In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
from functools import reduce
from scipy.stats import linregress
import scipy.stats as st
import numpy as np

# Study data files
#athlete_events_path = "data_set/athlete_events.csv"
olympic_medals_path = "Data_Sets/olympic_medals.csv"
Countrys_GDP_path = "Data_Sets/Country wise GDP from 1994 to 2017.csv"

# Read the olympics data and the study results
medals_Year = []
#athlete_events = pd.read_csv(athlete_events_path)
olympic_medals = pd.read_csv(olympic_medals_path)
Countrys_GDP = pd.read_csv(Countrys_GDP_path)
medals_Year = olympic_medals['slug_game'].str[-4:]
olympic_medals['medals_Year'] = medals_Year.astype('int64')
# Concatinate athletes name in olympic medals file to come up with full name that can be used to merge with athlete_events file 


Countrys_GDP.head()

,Year,Country,GDP (in USD),GDP Real (in USD),GDP change (%),GDP per capita (in USD),Pop. change (%),Population
0,2017,United States of America,19485400000000,17348600000000,2.27,53366,0.64,325084756
1,2016,United States of America,18707200000000,16972300000000,1.49,52543,0.67,323015995
2,2015,United States of America,18219300000000,16710500000000,2.86,52077,0.69,320878310
3,2014,United States of America,17521700000000,16242500000000,2.57,50969,0.72,318673411
4,2013,United States of America,16784900000000,15853800000000,1.68,50107,0.75,316400538

In [2]:
Countrys_GDP.describe()

,Year,GDP (in USD),GDP Real (in USD),GDP change (%),GDP per capita (in USD),Pop. change (%),Population
count,4326.000000,4.326000e+03,4.326000e+03,4326.000000,4326.000000,4326.000000,4.326000e+03
mean,2005.839806,2.849600e+11,3.229449e+11,3.823160,12531.465095,1.505032,3.561876e+07
std,6.881793,1.217041e+12,1.261344e+12,5.953154,17768.051337,1.517577,1.349238e+08
min,1994.000000,1.088683e+07,0.000000e+00,-62.080000,0.000000,-6.390000,9.252000e+03
25%,2000.000000,3.656094e+09,4.824270e+09,1.672500,1379.000000,0.510000,1.595111e+06
50%,2006.000000,1.667511e+10,2.080079e+10,3.790000,4402.000000,1.360000,7.084947e+06
75%,2012.000000,1.170678e+11,1.518028e+11,6.020000,15485.250000,2.397500,2.265789e+07
max,2017.000000,1.948540e+13,1.734860e+13,149.970000,113166.000000,19.140000,1.421022e+09

In [3]:
Countrys_GDP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4326 entries, 0 to 4325
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     4326 non-null   int64
 1   Country                  4326 non-null   object
 2   GDP (in USD)             4326 non-null   int64
 3   GDP Real (in USD)        4326 non-null   int64
 4   GDP change (%)           4326 non-null   float64
 5   GDP per capita (in USD)  4326 non-null   int64
 6   Pop. change (%)          4326 non-null   float64
 7   Population               4326 non-null   int64
dtypes: float64(2), int64(5), object(1)
memory usage: 270.5+ KB

In [4]:
# Study data files
#athlete_events_path = "data_set/athlete_events.csv"
olympic_medals_path = "Data_Sets/olympic_medals.csv"
Countrys_GDP_path = "Data_Sets/Country wise GDP from 1994 to 2017.csv"

# Read the olympics data and the study results
medals_Year = []
#athlete_events = pd.read_csv(athlete_events_path)
olympic_medals = pd.read_csv(olympic_medals_path)
Countrys_GDP = pd.read_csv(Countrys_GDP_path)
medals_Year = olympic_medals['slug_game'].str[-4:]
olympic_medals['medals_Year'] = medals_Year.astype('int64')
# Concatinate athletes name in olympic medals file to come up with full name that can be used to merge with athlete_events file

In [6]:
olympic_medals.head()

,Unnamed: 0,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_name,athlete_surname,country_name,country_code,country_tri_letter_code,medals_Year
0,0,Skeleton,pyeongchang-2018,Women,Women,GOLD,Athlete,NaN,Lizzy,YARNOLD,Great Britain,GB,GBR,2018
1,1,Skeleton,pyeongchang-2018,Women,Women,SILVER,Athlete,NaN,Jacqueline,LOELLING,Germany,DE,GER,2018
2,2,Skeleton,pyeongchang-2018,Women,Women,BRONZE,Athlete,NaN,Laura,DEAS,Great Britain,GB,GBR,2018
3,3,Skeleton,pyeongchang-2018,Men,Men,GOLD,Athlete,NaN,Sungbin,YUN,Republic of Korea,KR,KOR,2018
4,4,Skeleton,pyeongchang-2018,Men,Men,SILVER,Athlete,NaN,Nikita,TREGUBOV,Russia,NaN,OAR,2018

In [5]:
olympic_medals.describe()

         Unnamed: 0   medals_Year
count  20142.000000  20142.000000
mean   10070.500000   1976.941912
std     5814.638897     32.590934
min        0.000000   1896.000000
25%     5035.250000   1956.000000
50%    10070.500000   1984.000000
75%    15105.750000   2004.000000
max    20141.000000   2018.000000

In [7]:
olympic_medals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20142 entries, 0 to 20141
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               20142 non-null  int64
 1   discipline_title         20142 non-null  object
 2   slug_game                20142 non-null  object
 3   event_title              20142 non-null  object
 4   event_gender             20142 non-null  object
 5   medal_type               20142 non-null  object
 6   participant_type         20142 non-null  object
 7   participant_title        6060 non-null   object
 8   athlete_name             16762 non-null  object
 9   athlete_surname          16762 non-null  object
 10  country_name             20142 non-null  object
 11  country_code             18623 non-null  object
 12  country_tri_letter_code  20142 non-null  object
 13  medals_Year              20142 non-null  int64
dtypes: int64(2), object(12)
memory usage: 2.2+ MB

In [8]:
diff_cols = Countrys_GDP.columns.difference(olympic_medals.columns)
diff_cols

Index(['Country', 'GDP (in USD)', 'GDP Real (in USD)', 'GDP change (%)',
       'GDP per capita (in USD)', 'Pop. change (%)', 'Population', 'Year'],
      dtype='object')

In [9]:
#Filter out the columns that are different. You could pass in the df2[diff_cols] directly into the merge as well.
Diff_GDP_columns = Countrys_GDP[diff_cols]

#Merge the DataFrames
df_merged = pd.merge(olympic_medals, Diff_GDP_columns, right_on=['Country','Year'],left_on=['country_name','medals_Year'], how='inner')
df_merged

,Unnamed: 0,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_name,athlete_surname,...,country_tri_letter_code,medals_Year,Country,GDP (in USD),GDP Real (in USD),GDP change (%),GDP per capita (in USD),Pop. change (%),Population,Year
0,331,Cycling BMX,rio-2016,Individual women,Women,GOLD,Athlete,NaN,Mariana,PAJON,...,COL,2016,Colombia,282856000000,366906000000,1.96,7616,1.38,48175052,2016
1,336,Cycling BMX,rio-2016,Individual men,Men,BRONZE,Athlete,NaN,Carlos Alberto,RAMIREZ YEPES,...,COL,2016,Colombia,282856000000,366906000000,1.96,7616,1.38,48175052,2016
2,556,Athletics,rio-2016,triple jump women,Women,GOLD,Athlete,NaN,Caterine,IBARGUEN,...,COL,2016,Colombia,282856000000,366906000000,1.96,7616,1.38,48175052,2016
3,658,Weightlifting,rio-2016,62kg featherweight men,Men,GOLD,Athlete,NaN,Oscar,FIGUEROA,...,COL,2016,Colombia,282856000000,366906000000,1.96,7616,1.38,48175052,2016
4,675,Weightlifting,rio-2016,69kg men,Men,BRONZE,Athlete,NaN,Luis Javier,MOSQUERA LOZANO,...,COL,2016,Colombia,282856000000,366906000000,1.96,7616,1.38,48175052,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6836,7899,Figure skating,lillehammer-1994,Ice dancing mixed,Mixed,BRONZE,GameTeam,Great Britain team,Christopher,DEAN,...,GBR,1994,Great Britain,1140490000000,1736820000000,3.88,30068,0.28,57763378,1994
6837,7872,Short Track Speed Skating,lillehammer-1994,5000m relay men,Men,BRONZE,GameTeam,Australia team,NaN,NaN,...,AUS,1994,Australia,322201000000,663035000000,3.98,37252,1.11,17798529,1994
6838,7934,Cross Country Skiing,lillehammer-1994,Combined 10km 15km pursuit men,Men,SILVER,Athlete,NaN,Vladimir,SMIRNOV,...,KAZ,1994,Kazakhstan,21250839258,64407663403,-12.60,4020,-0.98,16022222,1994
6839,7942,Cross Country Skiing,lillehammer-1994,50km men,Men,GOLD,Athlete,NaN,Vladimir,SMIRNOV,...,KAZ,1994,Kazakhstan,21250839258,64407663403,-12.60,4020,-0.98,16022222,1994
6840,7946,Cross Country Skiing,lillehammer-1994,10km pursuit men,Men,SILVER,Athlete,NaN,Vladimir,SMIRNOV,...,KAZ,1994,Kazakhstan,21250839258,64407663403,-12.60,4020,-0.98,16022222,1994

In [10]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6841 entries, 0 to 6840
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               6841 non-null   int64
 1   discipline_title         6841 non-null   object
 2   slug_game                6841 non-null   object
 3   event_title              6841 non-null   object
 4   event_gender             6841 non-null   object
 5   medal_type               6841 non-null   object
 6   participant_type         6841 non-null   object
 7   participant_title        2174 non-null   object
 8   athlete_name             5779 non-null   object
 9   athlete_surname          5779 non-null   object
 10  country_name             6841 non-null   object
 11  country_code             6823 non-null   object
 12  country_tri_letter_code  6841 non-null   object
 13  medals_Year              6841 non-null   int64
 14  Country                  6841 non-null   object
 15  GDP (in USD)             6841 non-null   int64
 16  GDP Real (in USD)        6841 non-null   int64
 17  GDP change (%)           6841 non-null   float64
 18  GDP per capita (in USD)  6841 non-null   int64
 19  Pop. change (%)          6841 non-null   float64
 20  Population               6841 non-null   int64
 21  Year                     6841 non-null   int64
dtypes: float64(2), int64(7), object(13)
memory usage: 1.2+ MB

In [11]:
df_merged.describe()

,Unnamed: 0,medals_Year,GDP (in USD),GDP Real (in USD),GDP change (%),GDP per capita (in USD),Pop. change (%),Population,Year
count,6841.000000,6841.000000,6.841000e+03,6.841000e+03,6841.000000,6841.000000,6841.000000,6.841000e+03,6841.000000
mean,4165.240023,2005.967256,2.635297e+12,2.869757e+12,2.773137,31282.022511,0.541609,8.590462e+07,2005.967256
std,2214.727562,6.801882,4.398859e+12,4.462003e+12,3.130490,20528.600624,0.738361,1.058368e+08,6.801882
min,331.000000,1994.000000,2.195836e+08,2.916737e+08,-22.930000,197.000000,-2.600000,9.627300e+04,1994.000000
25%,2237.000000,2000.000000,2.136050e+11,3.114000e+11,1.290000,10277.000000,0.040000,1.525002e+07,2000.000000
50%,4182.000000,2006.000000,8.389710e+11,1.122510e+12,2.670000,37524.000000,0.520000,5.060791e+07,2006.000000
75%,6125.000000,2012.000000,2.503670e+12,2.709010e+12,4.080000,45859.000000,0.990000,1.278931e+08,2012.000000
max,7968.000000,2016.000000,1.870720e+13,1.697230e+13,26.850000,90864.000000,9.610000,1.324517e+09,2016.000000

In [12]:
nuu_df = df_merged[df_merged['athlete_name'].isnull()]
nuu_df_1 = df_merged[df_merged['participant_title'].isnull()]
nuu_df_3 = df_merged[df_merged['participant_title'].notnull()]
nuu_df_4 = df_merged[df_merged['country_tri_letter_code'].isnull()]

In [13]:
nuu_df_4['country_tri_letter_code'].unique()

array([], dtype=object)

In [14]:
df_merged

,Unnamed: 0,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_name,athlete_surname,...,country_tri_letter_code,medals_Year,Country,GDP (in USD),GDP Real (in USD),GDP change (%),GDP per capita (in USD),Pop. change (%),Population,Year
0,331,Cycling BMX,rio-2016,Individual women,Women,GOLD,Athlete,NaN,Mariana,PAJON,...,COL,2016,Colombia,282856000000,366906000000,1.96,7616,1.38,48175052,2016
1,336,Cycling BMX,rio-2016,Individual men,Men,BRONZE,Athlete,NaN,Carlos Alberto,RAMIREZ YEPES,...,COL,2016,Colombia,282856000000,366906000000,1.96,7616,1.38,48175052,2016
2,556,Athletics,rio-2016,triple jump women,Women,GOLD,Athlete,NaN,Caterine,IBARGUEN,...,COL,2016,Colombia,282856000000,366906000000,1.96,7616,1.38,48175052,2016
3,658,Weightlifting,rio-2016,62kg featherweight men,Men,GOLD,Athlete,NaN,Oscar,FIGUEROA,...,COL,2016,Colombia,282856000000,366906000000,1.96,7616,1.38,48175052,2016
4,675,Weightlifting,rio-2016,69kg men,Men,BRONZE,Athlete,NaN,Luis Javier,MOSQUERA LOZANO,...,COL,2016,Colombia,282856000000,366906000000,1.96,7616,1.38,48175052,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6836,7899,Figure skating,lillehammer-1994,Ice dancing mixed,Mixed,BRONZE,GameTeam,Great Britain team,Christopher,DEAN,...,GBR,1994,Great Britain,1140490000000,1736820000000,3.88,30068,0.28,57763378,1994
6837,7872,Short Track Speed Skating,lillehammer-1994,5000m relay men,Men,BRONZE,GameTeam,Australia team,NaN,NaN,...,AUS,1994,Australia,322201000000,663035000000,3.98,37252,1.11,17798529,1994
6838,7934,Cross Country Skiing,lillehammer-1994,Combined 10km 15km pursuit men,Men,SILVER,Athlete,NaN,Vladimir,SMIRNOV,...,KAZ,1994,Kazakhstan,21250839258,64407663403,-12.60,4020,-0.98,16022222,1994
6839,7942,Cross Country Skiing,lillehammer-1994,50km men,Men,GOLD,Athlete,NaN,Vladimir,SMIRNOV,...,KAZ,1994,Kazakhstan,21250839258,64407663403,-12.60,4020,-0.98,16022222,1994
6840,7946,Cross Country Skiing,lillehammer-1994,10km pursuit men,Men,SILVER,Athlete,NaN,Vladimir,SMIRNOV,...,KAZ,1994,Kazakhstan,21250839258,64407663403,-12.60,4020,-0.98,16022222,1994

In [15]:
df_merged.head()

,Unnamed: 0,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_name,athlete_surname,...,country_tri_letter_code,medals_Year,Country,GDP (in USD),GDP Real (in USD),GDP change (%),GDP per capita (in USD),Pop. change (%),Population,Year
0,331,Cycling BMX,rio-2016,Individual women,Women,GOLD,Athlete,NaN,Mariana,PAJON,...,COL,2016,Colombia,282856000000,366906000000,1.96,7616,1.38,48175052,2016
1,336,Cycling BMX,rio-2016,Individual men,Men,BRONZE,Athlete,NaN,Carlos Alberto,RAMIREZ YEPES,...,COL,2016,Colombia,282856000000,366906000000,1.96,7616,1.38,48175052,2016
2,556,Athletics,rio-2016,triple jump women,Women,GOLD,Athlete,NaN,Caterine,IBARGUEN,...,COL,2016,Colombia,282856000000,366906000000,1.96,7616,1.38,48175052,2016
3,658,Weightlifting,rio-2016,62kg featherweight men,Men,GOLD,Athlete,NaN,Oscar,FIGUEROA,...,COL,2016,Colombia,282856000000,366906000000,1.96,7616,1.38,48175052,2016
4,675,Weightlifting,rio-2016,69kg men,Men,BRONZE,Athlete,NaN,Luis Javier,MOSQUERA LOZANO,...,COL,2016,Colombia,282856000000,366906000000,1.96,7616,1.38,48175052,2016

In [20]:
df_merged.tail()

,Unnamed: 0,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_name,athlete_surname,...,country_tri_letter_code,medals_Year,Country,GDP (in USD),GDP Real (in USD),GDP change (%),GDP per capita (in USD),Pop. change (%),Population,Year
6836,7899,Figure skating,lillehammer-1994,Ice dancing mixed,Mixed,BRONZE,GameTeam,Great Britain team,Christopher,DEAN,...,GBR,1994,Great Britain,1140490000000,1736820000000,3.88,30068,0.28,57763378,1994
6837,7872,Short Track Speed Skating,lillehammer-1994,5000m relay men,Men,BRONZE,GameTeam,Australia team,NaN,NaN,...,AUS,1994,Australia,322201000000,663035000000,3.98,37252,1.11,17798529,1994
6838,7934,Cross Country Skiing,lillehammer-1994,Combined 10km 15km pursuit men,Men,SILVER,Athlete,NaN,Vladimir,SMIRNOV,...,KAZ,1994,Kazakhstan,21250839258,64407663403,-12.60,4020,-0.98,16022222,1994
6839,7942,Cross Country Skiing,lillehammer-1994,50km men,Men,GOLD,Athlete,NaN,Vladimir,SMIRNOV,...,KAZ,1994,Kazakhstan,21250839258,64407663403,-12.60,4020,-0.98,16022222,1994
6840,7946,Cross Country Skiing,lillehammer-1994,10km pursuit men,Men,SILVER,Athlete,NaN,Vladimir,SMIRNOV,...,KAZ,1994,Kazakhstan,21250839258,64407663403,-12.60,4020,-0.98,16022222,1994

In [21]:
df_merged["Population"].head()

0    48175052
1    48175052
2    48175052
3    48175052
4    48175052
Name: Population, dtype: int64

In [ ]:
# Generate some data to test with
def gendata(loc1=0, loc2=0):
    population1 = stats.norm.rvs(loc=loc1, size=50, random_state=0)
    population2 = stats.norm.rvs(loc=loc2, size=45, random_state=42)

    # Scatter Plot of Data
    plt.subplot(2, 1, 1)
    plt.scatter(range(len(population1)), population1, label="population1")
    plt.scatter(range(len(population2)), population2, label="population2")
    plt.legend()

    # Histogram Plot of Data
    plt.subplot(2, 1, 2)
    plt.hist(population1, 10, density=True, alpha=0.7, label="population1")
    plt.hist(population2, 10, density=True, alpha=0.7, label="population2")
    plt.axvline(population1.mean(), color='k', linestyle='dashed', linewidth=1)
    plt.axvline(population2.mean(), color='k', linestyle='dashed', linewidth=1)
    plt.legend()  
    
    return population1, population2